@import "tailwindcss";
@plugin "daisyui";


/* Google Fonts */

.font-playfair{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
  --light-bg:#ffffff;
  --light-bg-alt:#fafafa;
}

.dark{
  --light-bg:#333333;
  --light-bg-alt:#444444;
}

.bg-white-bg{
  background-color: var(--light-bg);
}

.bg-fafafa-bg{
  background-color: var(--light-bg-alt);
}

p,label {
  color: black;
}

.dark p,.dark label,.dark th,.dark h3, .dark span{
  color: white;
}

.dark td{
  color: #ccc; 
}

input::placeholder {
  color: gray;
}

.dark input::placeholder,.dark textarea::placeholder,.dark  select {
  color: black; 
}

.review p{
  color: white;
}

.about-head{
  color:white;
}

.about-text, .dark .about-text{
  color:#666666;
}

.hero-text,.dark .hero-text{
  color:#d4d4d4
}

.dark input{
  color:black;
}

dialog h3,dialog label,.dark dialog label,.dark dialog h3,dialog button,.dark dialog button,dialog p,.dark dialog p,dialog label span,.dark dialog label span{
   color:black;
}

dialog input,.dark dialog input,dialog textarea,.dark dialog textarea,dialog select,.dark dialog select{
  background-color: white;
}

.foot p,.dark .foot p{
  color:white;
}

.dark .tf_heading {
  color:white;
}