@import "tailwindcss";
@plugin "daisyui";


/* Google Fonts */

.font-playfair{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
  --light-bg:#ffffff;
  --light-bg-alt:#fafafa;
}

.dark{
  --light-bg:#333333;
  --light-bg-alt:#444444;
}

.bg-white-bg{
  background-color: var(--light-bg);
}

.bg-fafafa-bg{
  background-color: var(--light-bg-alt);
}

p,label {
  color: black;
}

.dark p,.dark label,.dark th{
  color: white;
}

.dark td{
  color: #ccc; 
}

input::placeholder {
  color: gray;
}

.dark input::placeholder {
  color: #ccc; 
}

.review p{
  color: white;
}

.about-head{
  color:white;
}

.about-text, .dark .about-text{
  color:#666666;
}

.hero-text,.dark .hero-text{
  color:#d4d4d4
}